.border {
  color: #ff6600;
  border: 1px solid #ff6600;
  background-color: #fff;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    border: 1px solid #ff6600;
    background-color: #ff6600;
  }
}
.primary {
  color: #fff;
  border: 1px solid #ff6600;
  background-color: #ff6600;
  transition: all 0.3s;

  &:hover {
    color: #ff6600;
    border: 1px solid #ff6600;
    background-color: #fff;
  }
}
