.project_active::before {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 100%;
    width: 2rem;
    top: 0;
    right: -1.25rem;
    box-shadow:
        0px 5px 5px -5px rgba(0, 0, 0, 0.15),
        0px -5px 5px -5px rgba(0, 0, 0, 0.15);
}

.project_active::after {
    position: absolute;
    content: '';
    background-image: url('assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
    background-color: #E6E6E64D;
    height: 100%;
    width: 3.125rem;
    top: 0;
    right: -4.375rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:
        0 -5px 5px -5px rgba(0, 0, 0, 0.15),
        5px 0 5px -5px rgba(0, 0, 0, 0.15),
        0 5px 5px -5px rgba(0, 0, 0, 0.15);
}