.listFooter {
  li {
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      color: #ff6600;
    }
  }
}
.listIconFooter {
  li {
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: scale(110%);
      color: #ff6600;
      border: 2px solid #ff6600;
    }
  }
}
